<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <title>Groupie-Tracker</title>
  </head>
<body>
<nav>
    <h1 class= "logo">Groupie <span>Tracker.</span> </h1>
        <ul>
            <li><a href="http://localhost:8080/">Home</a></li>
            <li><a href="#">API</a></li>
            <li>
                <a href="#">About us <ion-icon name="caret-down"></ion-icon></a>
                <ul>
                    <li><a href="https://github.com/Karabodjan" target="_blank">Celso</a></li>
                    <li><a href="https://github.com/AlikakilA" target="_blank">Adrien</a></li>
                </ul>
            </li>
            <li><a href="https://open.spotify.com/intl-fr?" target="_blank">Spotify</a></li>
        </ul>

</nav>
<main>
    <div class="title">
        <h1>Groupie-tracker</h1>
        <h1>Groupie-tracker</h1>
    </div>
    <form action="/result" method="get">
        <div class="container1">
            <div class="search-container">
                <input id="input" class="inputi" type="text" name="id" placeholder="Search...">
                <div class="search"></div>
            </div>
        </div>
    </form>
</div>
    <div class="sort">
        <form method="post" action="/filters">
            <div class="sort-by-date">
                <p>Création du groupe : </p>
                <label for="MinCreation">Entre</label>
                <input type="number" id="MinCreation" name="minCreationYear" placeholder="Min">
                <label for="MaxCreation">et</label>
                <input type="number" id="MaxCreation" name="maxCreationYear" placeholder="Max">
            </div>

            <div class="sort-by-nbrOfMembers">
                <p>Nombre de membres dans le groupe :</p>
                <input type="checkbox" id="numMembers1" name="numMembers[]" value="1">
                <label for="numMembers1">1</label>
                <input type="checkbox" id="numMembers2" name="numMembers[]" value="2">
                <label for="numMembers2">2</label>
                <input type="checkbox" id="numMembers3" name="numMembers[]" value="3">
                <label for="numMembers1">3</label>
                <input type="checkbox" id="numMembers4" name="numMembers[]" value="4">
                <label for="numMembers2">4</label>
                <input type="checkbox" id="numMembers5" name="numMembers[]" value="5">
                <label for="numMembers1">5</label>
                <input type="checkbox" id="numMembers6" name="numMembers[]" value="6">
                <label for="numMembers2">6</label>
                <input type="checkbox" id="numMembers7" name="numMembers[]" value="7">
                <label for="numMembers1">7</label>
                <input type="checkbox" id="numMembers8" name="numMembers[]" value="8">
                <label for="numMembers2">8</label>
                <input type="checkbox" id="numMembers9" name="numMembers[]" value="9">
                <label for="numMembers2">9</label>
                <input type="checkbox" id="numMembersAll" name="numMembers[]" value="">
                <label for="numMembers2">All</label>
            </div>

            <label for="Country">Choisir un pays :</label>
            <input list="countries" id="Country" name="country">
            <datalist id="countries">
                <option value="USA">usa</option>
                <option value="New">Nouvelle-Zélande</option>
                <option value="Germany">Allemagne</option>
                <option value="Italy">Italie</option>
                <option value="Japan">Japon</option>
                <option value="new_caledonia">Caledonia</option>
                <option value="Polynesia">Polynésie</option>
                <option value="Mexico">Mexique</option>
                <option value="Switzerland">Suisse</option>
                <option value="UK">Royaume-Uni</option>
                <option value="Slovakia">Slovaquie</option>
                <option value="Hungary">Hongrie</option>
                <option value="Belarus">Biélorussie</option>
                <option value="Australia">Australie</option>
                <option value="Indonesia">Indonésie</option>
                <option value="Argentina">Argentine</option>
                <option value="Brazil">Brésil</option>
                <option value="Spain">Espagne</option>
                <option value="Colombia">Colombie</option>
                <option value="Portugal">Portugal</option>
                <option value="Sweden">Suède</option>
                <option value="Belgium">Belgique</option>
                <option value="Denmark">Danemark</option>
                <option value="India">Inde</option>
                <option value="France">France</option>
                <option value="Netherlands">Pays-Bas</option>
                <option value="Arabia">Arabie</option>
                <option value="Ireland">Irlande</option>
                <option value="Poland">Pologne</option>
                <option value="China">Chine</option>
                <option value="Finland">Finlande</option>
                <option value="Chile">Chili</option>
                <option value="Canada">Canada</option>
                <option value="Emirates">Émirats</option>
                <option value="Thailand">Thaïlande</option>
                <option value="Philippines">Philippines</option>
                <option value="Korea">Corée</option>
                <option value="Taiwan">Taïwan</option>
                <option value="Antilles">Antilles</option>
                <option value="Rica">Costa Rica</option>
                <option value="Colombia">Colombie</option>
            </datalist>

            <div class="sort-by-date-FirstAlbulm">
                <p>Date de sortie du 1er album : </p>
                <input type="range" id="AlbulmCreation" name="input" class="range" min="1958" max="2021" value="2021" onchange="show()">
                <input type="hidden" id="MinYear" name="minYear" value="1958">
                <p>Entre 1958 et <span id="dateOutput"></span></p>
            </div>

            <div id="PageChoosing" ></div>
            <input type="submit" value="Apply Filters">
        </form>
    </div>
<div class="container">
    {{range .}}
    <div class="col">
        <div class="col2">
            <a href="/result?id={{.ID}}">
                <img src={{.Image}} alt="eeee"/>
            </a>
            <div class="info">
                <h2 id = "pp">{{.Name}}</h2>
                <h3>Date de Création : {{.Creation}}</h3>
                <h3>Date du premier albulm : {{.FirstAlb}}</h3>
            </div>
        </div>

    </div>
    {{end}}
</div>
</main>
<footer>
    <div class="footer-top">
        <div class="footer-col">
            <h3>A propos</h3>
            <a href="https://trello.com/b/vzMeNoUD/groupietracker" target="_blank">Trello</a>
        </div>
        <div class="footer-col">
            <h3>Ressources</h3>
            <a href="#">Documents</a>
        </div>
        <div class="footer-col">
            <h3>Contact</h3>
            <a  href="mailto:adrien.froechly@ynov.com"><ion-icon name="mail"></ion-icon> FROECHLY Adrien</a>
            <a href="mailto:celso.barros@ynov.com"><ion-icon name="mail"></ion-icon> Barros Celso</a>
            <ion-icon name="mail-outline"></ion-icon>
        </div>
    </div>
    <div class="footer-bottom">
        <a href="https://github.com/Karabodjan/GROUPIE-TRACKER" target="_blank" class="social"
        ><ion-icon name="logo-github"></ion-icon></a>
    </div>
</footer>
<script
        type="module"
        src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
></script>
<script
        nomodule
        src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
></script>

</body>
</html>

<script>
    function updateValue() {
        // Récupérer l'élément input
        var inputElement = document.getElementById('year-input');
        // Récupérer l'élément où afficher la valeur
        // var displayElement = document.getElementById('displayValue');
        // // Mettre à jour le texte affiché avec la valeur en direct
        // displayElement.textContent = inputElement.value;
    }

    // Ajouter un écouteur d'événements sur le champ de texte pour détecter les changements
    document.getElementById('inputField').addEventListener('input', updateValue);

</script>

