<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href ="/static/index.css" rel="stylesheet">
    <title>Barre de Recherche</title>

</head>
<body>
<div class="search-container">
    <form action="" method="post" class="form-example">
        <input  id="input" type="text" class="search-input" placeholder="Entrez votre recherche...">
        <a id="searchButton" class="search-button" href=/result >Rechercher</a>
    </form>
</div>
</body>
</html>
