body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.column {
    width: 50%;
}

.block {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 20px;
}

.block p {
    margin: 0;
}
